
.hero {
  background-image: url("../img/about/banner.png");
  height: 40vh;
  background-position: 4px 0px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}
.hero h2 {
  color: white;
}
.hero p {
  color: white;
  font-size: 11px;
}
.big {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  gap: 20px;
  margin-bottom: 30px;
}
.big .img {
  height: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.big .img img {
  width: 90%;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 30px;
}
.write h2 {
  font-size: 30px;
  opacity: 80%;
}
.write p {
  font-size: 11px;
  opacity: 80%;
}
.write p span{
  display: inline-block;
  padding-top: 20px;
  text-decoration: underline;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.app h2{
  margin-bottom: 20px;
}
.app .video{
  width: 70%;
  height: 80vh;

}
.app .video video{
  width: 100%;
  height: 100%;

}
.Box .box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 10px;

border: 1px solid lightgrey;
}
.Box .box img{
width: 100px;
margin-bottom: 15px;
}
.Box .box p{
background-color: plum;
text-transform: capitalize;
font-size: 12px;
padding: 2px 3px;
display: inline-block;


}
.Box{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(100px, 150px)); 

gap: 20px;
justify-content: center;   
align-items: center; 
margin-bottom: 80px;   
}
.Box .item-2 p{
background: rgba(0, 128, 0, 0.662);
}
.Box .item-3 p{
background: rgba(0, 0, 255, 0.685);
}
.Box .item-4 p{
background: pink;
}
.Box .item-6 p{

}
@media(max-width: 675px){



.big .img {
  grid-column: 1/2;
  grid-row: 1/2;
}

.write {
  grid-column: 2/3;
  grid-row: 1/2;
  overflow: hidden;
  
} 
.write h2{
  font-size: 17px;
}
}
@media(max-width: 625px){


.big .img {
height: 30vh;
  grid-column: 1/4;
  grid-row: 1/2;
  background-color: green;
  overflow: hidden;
  padding-left: 0px;
  margin-left: 0px;
}
.big .img img{
  width: 100%;
}

.write {
  grid-column: 1/3;
  grid-row: 2/3;
  overflow: hidden;
  text-align: center;
  align-items: center;
  padding-top: 0px;
  
} 
.write h2{
  font-size: 20px;
}
.write p span{
  padding-top: 5px;
}

}
@media(max-width: 500px){
  body{
    background: red
  }
  .Box{
    grid-template-columns: repeat(auto-fill,minmax(100px,110px));
    margin-top: -30px;
  }
  .Box .box img{
    width: 70px;
  }
  .app .video{
    width: 80%;
}
.app{
  width: 100%
}
.big .img {
  
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: green;
    padding-left: 0px;
   
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .big .img {
    display: flex;
    justify-content: end;
    align-items: center;
    background: blue;
  }
  .big .img img{
    width: 100%
  }
  .big{
    grid-template-columns: repeat(2, 50%);
    overflow: hidden;

  }
  .app h2{
    margin-bottom: 5px;
  }
  .app .video{

    height: 50vh;
    
  }
  .app .video video{
    height: 100%;
  }
}